<ng-container *ngIf="!sessionStorage['x-access-token']">
  <button class="btn btn-outline-light"
          (click)="modalService.open('login')">
    Log in
  </button>
  <button class="btn btn-outline-light"
          (click)="modalService.open('register')">
    Register
  </button>
</ng-container>

<ng-container *ngIf="sessionStorage['x-access-token']">
  <button class="btn btn-outline-light"
          (click)="logout()">
    Log out
  </button>
</ng-container>

<modal id="login">
  <div class="container modalContainer" style="height: 340px">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-end">Login</h2>
        <form [formGroup]="loginForm"
              (ngSubmit) = "login()">
          <div class="form-group">
            <label for="username">
              Username</label>
            <textarea name="username" id="username" class="form-control" formControlName="username"
                      [ngClass]="{ 'error' : isInvalidLogin('username') }"></textarea>
          </div>
          <div class="form-group">
            <label for="password">
              Password</label>
            <textarea name="password" id="password" class="form-control" formControlName="password"
                      [ngClass]="{ 'error' : isInvalidLogin('password') }"></textarea>
          </div>
          <div *ngIf="isIncompleteLogin()" class="text-center text-danger formIncompleteText">
          ! You must complete all fields
          </div>
          <button *ngIf="!isIncompleteLogin()" class="btn btn-secondary w-100"
                  type="submit"
                  style="margin-top: 20px">Submit</button>
          <div *ngIf="errorMessage" class="text-center text-danger" style="padding-top: 10px">
            Error! {{errorMessage}}
          </div>
        </form>
      </div>
    </div>
  </div>
</modal>

<modal id="register">
  <div class="container modalContainer" style="height: 520px;">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-end">Register</h2>
        <form [formGroup]="registerForm"
              (ngSubmit) = "register()">
          <div class="form-group">
            <label for="username">
              Name</label>
            <textarea name="username" id="name" class="form-control" formControlName="name"
                      [ngClass]="{ 'error' : isInvalidRegister('name') }"></textarea>
          </div>
          <div class="form-group">
            <label for="username">
              Username</label>
            <textarea name="username" id="username" class="form-control" formControlName="username"
                      [ngClass]="{ 'error' : isInvalidRegister('username') }"></textarea>
          </div>
          <div class="form-group">
            <label for="username">
              Email</label>
            <textarea name="username" id="email" class="form-control" formControlName="email"
                      [ngClass]="{ 'error' : isInvalidRegister('email') }"></textarea>
          </div>
          <div class="form-group">
            <label for="password">
              Password</label>
            <textarea name="password" id="password" class="form-control" formControlName="password"
                      [ngClass]="{ 'error' : isInvalidRegister('password') }"></textarea>
          </div>
          <div *ngIf="isIncompleteRegister()" class="text-center text-danger formIncompleteText">
          ! You must complete all fields
          </div>
          <button *ngIf="!isIncompleteRegister()" class="btn btn-secondary w-100"
                  type="submit"
                  style="margin-top: 20px">Submit</button>
          <div *ngIf="errorMessage" class="text-center text-danger" style="padding-top: 10px">
            Error! {{errorMessage}}
          </div>
        </form>
      </div>
    </div>
  </div>
</modal>
