.error { background-color: #fff0f0 }

.bg-image {
  margin-top: -30px;
  margin-left: -0px;
  padding: 0px;
  height: 110vh;
  width: 110vw;
  background-position: top;
  background-size: 100%;
  background-image: url(../assets/phone.jpg);
  background-repeat: no-repeat;
}

.episodeContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 700px;
  top: 0;
  left: 40%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgba(0,0,0,0.9);
  color: white;
}

.triviasContainer {
  margin-top: 30px;
  max-height: 700px;
  overflow: auto
}
