<div class="bg-image"></div>
<div class="episodeContainer">
  <ng-container *ngIf="episode_loaded">
  @for ( episode of episode_list; track episode.title ) {
    <div class="row" style="height: 120px">
      <div class="col-sm-6 align-self-end">
        <div class="display-1">
          {{ episode.title }}
        </div>
        <span *ngFor="let star of [].constructor(Math.round(episode.imdbRating))">
          <img src="images/star.png"
               style="width:30px; height:30px">
        </span>
      </div>
      <div class="col-sm-6 align-self-end text-end">
        <span>
          Season:
          {{ episode.seasonNumber}} <br>
          Episode Number:
          {{ episode.episodeNumber }}
        </span>
      </div>
    </div>

    <span *ngIf="!sessionStorage['x-access-token']">
        Login to leave trivia
    </span>
    <div class="row w-100 p-2" style="margin-top: 20px" *ngIf="sessionStorage['x-access-token']">
      <button class="btn btn-dark me-2" (click)="modalService.open('submitModal')">Submit Trivia</button>
    </div>

    <div class="text-end">
      <label for="sort" style="padding-bottom: 10px; padding-right: 10px; padding-top: 20px">
        Sort by
      </label>
      <select name="sort" id="sort" (change)="onSortSelection($event)" style="background-color: black; color: white">
        <option value="new">New</option>
        <option value="top">Top</option>
      </select>
    </div>

    <div class="row triviasContainer">
      <div class="col-sm-12">
        @for ( trivia of trivia_list; track trivia ) {
          <div class="card mb-3 bg-dark text-white" style="--bs-bg-opacity: 0.9">
            <div class="card-header row">
              <div class="col-sm-6 align-content-center">
              {{ trivia.user }}
              </div>
              <div class="col-sm-6 text-end">
              <span *ngIf="trivia.user == sessionStorage['loggedInUsername']">
                <button class="btn btn-outline-info"
                        (click)="updateEditFormValue(trivia.text);
                                  modalService.open('edit' + trivia._id)">
                  Edit
                </button>
              </span>
              <span *ngIf="((trivia.user == sessionStorage['loggedInUsername']) || (sessionStorage['admin'] == 'true'))">
                <button class="btn btn-outline-danger"
                        (click)="delete(trivia._id)">
                  Delete
                </button>
              </span>
              </div>
            </div>
            <div class="card-body">
              {{ trivia.text }}
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6" style="font-size: 15px; color: gray">
                  <span *ngIf="trivia.edited">
                    edited
                  </span>
                </div>
                <div class="col-sm-6 text-end">

                  <!-- user upvoted -->
                  <span *ngIf="trivia.upvotes.includes(sessionStorage['loggedInUsername'])">
                    <img src="images/upvote.png" style="width: 40px">
                    <span style="cursor: default;"> {{ trivia.score }} </span>
                    <img src="images/unfilled_downvote.png" style="cursor: pointer; width: 40px"
                         (click)="vote('down', trivia._id)">
                  </span>

                  <!-- user downvoted -->
                  <span *ngIf="trivia.downvotes.includes(sessionStorage['loggedInUsername'])">
                    <img src="images/unfilled_upvote.png" style="cursor: pointer; width: 40px"
                         (click)="vote('up', trivia._id)">
                    <span style="cursor: default;"> {{ trivia.score }} </span>
                    <img src="images/downvote.png" style="width: 40px">
                  </span>

                  <!-- user not voted -->
                  <span *ngIf="(!(trivia.upvotes.includes(sessionStorage['loggedInUsername'])) &&
                              (!(trivia.downvotes.includes(sessionStorage['loggedInUsername'])))) &&
                                sessionStorage['x-access-token']">
                    <img src="images/unfilled_upvote.png" style="cursor: pointer; width: 40px"
                         (click)="vote('up', trivia._id)">
                    <span style="cursor: default;"> {{ trivia.score }} </span>
                    <img src="images/unfilled_downvote.png" style="cursor: pointer; width: 40px"
                         (click)="vote('down', trivia._id)">
                  </span>

                  <!-- no user -->
                  <span *ngIf="!sessionStorage['x-access-token']">
                    <img src="images/unfilled_upvote.png" style="cursor: pointer; width: 40px"
                         (click)="alert('Login to vote!')">
                    {{ trivia.score }}
                    <img src="images/unfilled_downvote.png" style="cursor: pointer; width: 40px"
                         (click)="alert('Login to vote!')">
                  </span>
                </div>
              </div>
            </div>
          </div>

          <modal id="edit{{trivia._id}}">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h2>Edit Trivia</h2>
                  <form [formGroup]="editForm"
                        (ngSubmit)="edit(trivia._id)">
                    <div class="form-group">
                      <textarea name="editedTrivia" id="editedTrivia"
                                class="form-control"
                                formControlName="editedTrivia"
                                [ngClass]="{ 'error' : isInvalid('editForm','editedTrivia')}">>
                      </textarea>
                    </div>
                    <span *ngIf="isIncomplete('editForm', 'editedTrivia')">
                      You must complete all fields
                    </span>
                    <button *ngIf="!isIncomplete('editForm', 'editedTrivia')" class="btn btn-primary"
                            type="submit"
                            style="margin-top: 20px">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </modal>
        }
      </div>
    </div>
  }
  </ng-container>

  <!-- if loading page, show loading wheel -->
  <div class="" *ngIf="(!episode_loaded)">
    <div class="cssload-speeding-wheel"></div>
  </div>

  <modal id="submitModal">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"
           *ngIf="sessionStorage['x-access-token']">
        <h2>Submit Trivia!</h2>
        <form [formGroup]="triviaForm"
              (ngSubmit)="onSubmit()">
          <div class="form-group">
            <textarea name="trivia" id="trivia"
                      class="form-control"
                      formControlName="trivia"
                      [ngClass]="{ 'error' : isInvalid('triviaForm','trivia')}">>
            </textarea>
          </div>
          <span *ngIf="isIncomplete('triviaForm', 'trivia')">
            You must complete all fields
          </span>
          <button *ngIf="!isIncomplete('triviaForm', 'trivia')" class="btn btn-primary"
                  type="submit"
                  style="margin-top: 20px">Submit</button>
        </form>
      </div>
    </div>
  </div>
  </modal>
</div>
