<div class="bg-image"></div>
<div class="episodeContainer">
  @for ( episode of episode_list; track episode.title ) {
    <div class="row">
      <div class="col-sm-6">
        <div class="display-1">
          {{ episode.title }}
        </div>
        <span *ngFor="let star of [].constructor(Math.round(episode.imdbRating))">
          <img src="images/star.png"
               style="width:30px; height:30px">
        </span>
      </div>
      <div class="col-sm-6 align-self-end text-end">
        <span>
          Season:
          {{ episode.seasonNumber}} <br>
          Episode Number:
          {{ episode.episodeNumber }}
        </span>
      </div>
    </div>

    <div class="row w-100 p-2" style="margin-top: 20px" *ngIf="sessionStorage['x-access-token']">
      <button class="btn btn-light me-2" (click)="modalService.open('submitModal')">Submit Trivia</button>
    </div>

    <div class="row triviasContainer">
      <div class="col-sm-12">
        @for ( trivia of trivia_list; track trivia ) {
          <div class="card bg-light mb-3">
            <div class="card-header">
              {{ trivia.user }}
              <span *ngIf="((trivia.user == sessionStorage['loggedInUsername']) || (sessionStorage['admin'] == 'true'))">
                <button class="btn btn-outline-danger me-2" (click)="delete(trivia._id)">delete</button>
              </span>
            </div>
            <div class="card-body">
              {{ trivia.text }}
              <span *ngIf="trivia.upvotes.includes(sessionStorage['loggedInUsername'])">
               <button class="btn btn-danger me-2" (click)="vote('up', trivia._id)">upvote</button>
                <button class="btn btn-outline-dark me-2" (click)="vote('down', trivia._id)">downvote</button>
              </span>
              <span *ngIf="trivia.downvotes.includes(sessionStorage['loggedInUsername'])">
                <button class="btn btn-outline-dark me-2" (click)="vote('up', trivia._id)">upvote</button>
                <button class="btn btn-primary me-2" (click)="vote('down', trivia._id)">downvote</button>
              </span>
              <span *ngIf="(!(trivia.upvotes.includes(sessionStorage['loggedInUsername'])) &&
                          (!(trivia.downvotes.includes(sessionStorage['loggedInUsername'])))) &&
                            sessionStorage['x-access-token']">

                <button class="btn btn-outline-dark me-2" (click)="vote('up', trivia._id)">upvote</button>
                <button class="btn btn-outline-dark me-2" (click)="vote('down', trivia._id)">downvote</button>
              </span>
            </div>
            <div class="card-footer">
              Upvotes: {{ trivia.upvotes }} <br>
              Downvotes: {{ trivia.downvotes }} <br>
              Score: {{ trivia.score }}
            </div>
          </div>
        }
      </div>
    </div>
  }
  <modal id="submitModal">
  <div class="container">
    <div class="row">
      <span *ngIf="!sessionStorage['x-access-token']">
        Login to leave trivia
      </span>
      <div class="col-sm-12"
           *ngIf="sessionStorage['x-access-token']">
        <h2>Submit Trivia!</h2>
        <form [formGroup]="triviaForm"
              (ngSubmit)="onSubmit()">
          <div class="form-group">
            <textarea name="trivia" id="trivia"
                      class="form-control"
                      formControlName="trivia"
                      [ngClass]="{ 'error' : isInvalid('trivia')}">>
            </textarea>
          </div>
          <span *ngIf="isIncomplete()">
            You must complete all fields
          </span>
          <button *ngIf="!isIncomplete()" class="btn btn-primary"
                  type="submit"
                  style="margin-top: 20px">Submit</button>
        </form>
      </div>
    </div>
  </div>
  </modal>
</div>
