<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm-12">
      @for(episode of episodes_list;
        track episode.title) {
        <div class="card text-white bg-primary mb-3"
             style = "cursor: pointer"
             [routerLink] = "['/episodes',
                                episode._id.$oid]">
          <div class="card-header">
            {{ episode.title }}
          </div>
          <div class="card-body">
            Season:
            {{ episode.seasonNumber}} <br>
            Episode Number:
            {{ episode.episodeNumber }}
          </div>
          <div class="card-footer">
            Rating: {{ episode.imdbRating }}
            <span *ngFor="let star of [].constructor(Math.round(episode.imdbRating))">
              <img src="images/star.png"
                   style="width:30px; height:30px">
            </span>
          </div>
        </div>
      }
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-primary"
              (click)="previousPage()">Previous</button>
    </div>
    <div class="col-sm-4 text-center align-self-center">
      Showing page {{ this.page }}
      of {{ this.dataService.getLastPageNumber() }}
    </div>
    <div class="col-sm-4 text-end">
      <button class="btn btn-primary"
              (click)="nextPage()">Next</button>
    </div>
  </div>

</div> <!-- container -->
