<div class="container-fluid" style="height: 100% ;color:white">
  <div class="row">
    <!-- Left -->
    <div class="col-xxl margin">
      <img src="images/left.jpg" style="height: 100%">
    </div>
    <!-- Centre -->
    <div class="col-xxl" style="padding-top: 500px ;color:black; background-color: white">
      Click to enter site
      <!-- Page Select Row -->
    </div>

    <!-- Right -->
    <!--    style="background-image: url('images/right.jpg'); margin-top: 50px"-->
    <div class="col-xxl margin">
      <img src="images/right.jpg" style="height: 100%">
    </div>
  </div>
</div>
