<div class="container-fluid" style="height: 100% ;color:white">
  <div class="row">
    <!-- Left -->
    <div class="col-xxl margin">
      <img src="images/left.jpg" style="height: 100%">
    </div>
    <!-- Centre -->
    <div class="col-xxl" style="padding-top: 500px; padding-left: 0px; color:black; background-color: white; max-width: 180px; overflow: hidden">
      <img src="images/bcs_trivia_logo.png" style="height: 80px; padding-left: 0px; cursor: pointer" [routerLink] = "['/episodes']">
      <span style="cursor: pointer" [routerLink] = "['/episodes']">
        &nbsp;&nbsp;Click to enter site
      </span>
    </div>

    <!-- Right -->
    <div class="col-xxl margin">
      <img src="images/right.jpg" style="height: 100%">
    </div>
  </div>
</div>
