<div class="navbar navbar-expand-sm bg-dark
 navbar-dark fixed-top p-3">
  <span class="navbar-brand">BCS Fansite</span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/episodes']">Episodes</a>
    </li>
  </ul>
  <div class="form-inline ms-auto"
       style="margin-right: 10px; color: white">
    <span style="margin-right: 20px">{{sessionStorage['loggedInName']}}</span>
    <auth-button></auth-button>
  </div>
</div>

