.bg-image {
  margin-top: -30px;
  margin-left: -0px;
  padding: 0px;
  height: 110vh;
  width: 110vw;
  background-position: top;
  background-size: 100%;
  background-image: url(../assets/paint.jpg);
  background-repeat: no-repeat;
}
.episodesContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  top: 5%;
  left: 35%;
}
.ag-theme-material-dark {
  --ag-font-size: 17px;
  --ag-font-family: roboto;
}


